<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii-art-web</title>
</head>

<body>
    <form action="http://localhost:8080/ascii" method="POST">
        <textarea placeholder="ex: Hello" name="input" required></textarea>
        <label for="standard">
            <input id="standard" type="radio" value="standard" name="banner" required>
            Standard
        </label>
        <label for="shadow">
            <input id="shadow" type="radio" value="shadow" name="banner">
            Shadow
        </label>
        <label for="thinkertoy">
            <input id="thinkertoy" type="radio" value="thinkertoy" name="banner">
            Thinkertoy
        </label>
        <button type="submit">Submit</button>
    </form>
    <pre>{{.Art}}</pre>
</body>

</html>