body{
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    
}

label{
    cursor: pointer;
    color:green
}

h1{
    color:black;
    background-color: green;
    transform: skewX(-10deg);
}

form{
    gap: 20px;
}

textarea{
    display: block;
    justify-content: center;
    margin: 0 auto;
    background-color: green;
    border: 0;
    color: black;
    font-weight: bold;
    font-size: large;
    width: 60vw;
    height: 100px;
    resize: none;
}

input{
    cursor: pointer;
    accent-color: greenyellow;
}

label:has(input:checked) {
    font-weight: bold;
    color: greenyellow;
}

label:has(input:hover){
    color:greenyellow;
}

button {
  display: block;
  margin: 0 auto;
  
  transform: skewX(-10deg);
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover{
    background-color: greenyellow;
    color:green;
}

.output{
    color:green;
    font-size: small;

    opacity: 0;
    animation: fadeIn 1.0s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    text-shadow: 0 0 7px green;
    transform: translateY(0);
    }
    from{
        transform: translateY(50px);
    }
}